{% extends 'base.html' %}

{% block title %}Головна сторінка{% endblock %}

{% block heading %}Вітаю в піццерії {{ title }}!{% endblock %}

{% block content %}
<div class="container text-center">
  <h2>Ласкаво просимо до нашої піцерії!</h2>
</div>
<div class="weather-info">
  {% if weather %}
    <h3>Погода у Варшаві на сьогодні:</h3>
    <div>
      <p>Температура: {{ weather.temp }}°C</p>
      <p>Опис: {{ weather.description }}</p>
    </div>
  {% else %}
    <p>Не вдалося отримати інформацію про погоду</p>
  {% endif %}
</div>
{% endblock %}
